@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap");
* {
  margin: 0%;
  padding: 0%;
  font-size: 62.5%;
  font-family: "Quicksand", sans-serif;
  color: #d8d1a1; }

.fondo {
  background-color: #141414;
  background-position: auto; }

#main {
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
  line-height: 2.2rem;
  text-align: center;
  color: #d8d1a1;
  height: 60vh; }
  #main h1 {
    font-size: 2rem;
    text-align: center;
    margin-top: 5%; }
  #main section p {
    margin: 5% 15% 0 15%; }

@media (min-width: 768px) {
  #main {
    font-size: 3.2rem;
    height: 22vh; }
    #main section p {
      margin-top: 3%; } }

@media (min-width: 1024px) {
  #main {
    font-size: 4.2rem;
    line-height: 2.8rem; }
    #main h1 {
      font-size: 2.2rem;
      margin-top: 3%; }
    #main section p {
      margin: 2% 15% 0 15%; } }

.container-fluid .logo {
  width: 40%;
  margin: 0;
  padding: 1% 0; }
  .container-fluid .logo:hover {
    transform: scale(1.1);
    transition: all .4s ease-in-out; }

.container-fluid .navbar-brand {
  width: 70%; }
  .container-fluid .navbar-brand .navbar-nav .nav-item .nav-link {
    color: #d8d1a1; }
    .container-fluid .navbar-brand .navbar-nav .nav-item .nav-link:hover {
      color: #f7f7f7;
      transition: backgraound-color .7s ease-out;
      outline: 0; }

#footer h3 {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10%; }

#footer .redes {
  display: flex;
  justify-content: center;
  list-style: none;
  text-decoration: none;
  font-size: 600%;
  margin-top: 2%;
  color: #d8d1a1; }

#footer .fa-brands {
  font-size: 2rem;
  margin: .5em;
  color: #cfc05b;
  transition: all .4s ease-in-out;
  background-color: none; }
  #footer .fa-brands:hover {
    transform: scale(1.5); }

@media (min-width: 1024px) {
  #footer h3 {
    margin-top: 3%; } }
