@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

.fondo{
    background-color: #141413;
    background-position: auto;
    }
    
*{
    margin: 0%;
    padding: 0%;
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
    color: #d8d1a1;
}

/*===================NAV=========================*/

.navbar-brand{
    width: 70%;
}

.navbar-nav .nav-item .nav-link{
    color: #d8d1a1;
}

.navbar-nav .nav-item .nav-link:hover{
    color: #f5f3e6;
    transition: backgraound-color .7s ease-out;
    outline: 0;
}

.bg-black{
    color: black;
    margin: 0;
    padding: 0;
}

.logo{
    width: 40%;
    margin: 0;
    padding: 1% 0;
}

.logo:hover{
    box-shadow: 0 0 5px 0 #d8d1a1;
}

.img{
    width: 30%;
}

/*=================HEADER===================*/



/*===================MAIN====================*/

/*index*/
.fuente{
    font-size: 1.4rem;
    line-height: 1.9rem;
}

main section{
    margin-bottom: 2%;
    color: #d8d1a1;
}

h1{
    font-size: 4rem;
    text-align: center;
}

.section-p{
    text-align: center;
    margin: 5% 5%;
}

/*artistas*/

.trayect{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}

#artistas h1{
    margin-top: 0%;
    text-align: center;
    background-color: black;
    padding: 1.5%;
    font-size: 1.8rem;
    text-transform: uppercase;
}

.trayect{
    padding: 1% 0;
    margin: 5% 0;
    display: flex;
    width: auto;
    }

.img-figure{
    width: 70%;
}

#artistas .trayect figure{
    margin: 3%;
    padding: 3%;
    text-transform: capitalize;
    font-size: 2.4rem;
    text-align: center;
}


#artistas .trayect figure figcaption{
    font-size: 2.6rem;
    margin-top: 4%;
}

#artistas section figure .format-p{
    margin-top: 7%;
}

/*musica*/

#musica .music{
    margin: 2% 20%;
    padding: 3% 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

#musica .music div{
    width: 100%;
    padding: 10% 0;
    margin: 3% 0;
    background-color: black;
}

#musica .music div img{
    width: 70%;
}

.animat-img1:hover {
    filter: saturate(200%);
}

.animat-img2:hover {
    filter: saturate(200%);
}

.animat-img3:hover {
    filter: saturate(200%);
}

#musica h3{
    font-size: 1.5rem;
}

.size-p{
    font-size: 1.2rem;
}

/*novedades*/



#novedades{
    margin-top: 10%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    text-align: center;
}


.format-columns{
    font-family: 'Quicksand', sans-serif;
    font-size: 3.5rem;
    line-height: 3rem; 
    width: 80%;
    margin-left: 10%;
    }


#novedades section div img{
    width: 60%;
    margin: 1%;
    padding: 0;
    border-radius: 3%;
}

#novedades section div img{
    margin-top: 4%;
}

main section h2{
    margin-top: 5%;
}

#novedades p{
    display: none;
}


/*contacto*/

#contacto{
    box-sizing: border-box;
    margin: 5% 15%;
    padding: 2%;
}

.content{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

h5,
.content ul li{
    font-family: 'Quicksand', sans-serif;
    font-size: .7em;
    text-transform: capitalize;
}

.box{
    box-shadow: 0 0 20px 0 #d8d1a1;
}

.content form{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    text-transform: capitalize;
    height: 50%;
}
.contact-form{
    margin: 0%;
    padding: 3em;
    background: rgb(31, 29, 29);
}

.contact-form form input,
.contact-form form button,
.contact-form form textarea{
    width: 100%;
    padding: .2em;
    border: none;
    background: none;
    outline: 0;
    color: #d8d1a1;
    border-bottom: 1px solid #dbca5d;
}


.contact-form form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20%;
    grid-template-areas: 
    "name last-name"
    "phone email"
    "mensaje mensaje"
    "button button";
}

#name{
    grid-area: name;
}

#last-name{
    grid-area: last-name;
}

#phone{
    grid-area: phone;
}

#email{
    grid-area: email;
}

#mensaje{
    grid-area: mensaje;
}

#button{
    grid-area: button;
}

.contact-form form button{
    background-color: #dbca5d;
    color: black;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
    font-weight: bold;
    margin-top: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus{
    background: #d8d1a1;
    transition: backgraound-color .7s ease-out;
    outline: 0;
}

.contact-info{
    background-color: black;
    width: auto; 
    text-align: center;
    padding: 0 0 1em 0;
}

.contact-info ul{
    list-style: none;
}

.contact-info{
    font-family: 'Quicksand', sans-serif;
    font-size: 2.8em;
    padding: 10% 5%;
    margin: 2%;
}

.contact-info{
    display: none;
}

/*===================FOOTER==================*/

h3{
    font-size: 1.2rem;
    text-align: center;
    margin-top: 3%;
}

.redes{
    display: flex;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    font-size: 600%;
    margin-top: 2%;
    color:#d8d1a1  
    
}

.fa-brands{
    font-size: 2rem;
    margin: .5em;
    color: #cfc05b;
    transition: all .4s ease-in-out;
    background-color: none;
}

#footer .fa-brands:hover{
    transform: scale(1.5);
}

footer ul{
    margin: 0%;
    padding: 0%;
}

h3,
footer{
    background-color: black;
    width: 100%;
    color: #d8d1a1;
}


@media (min-width: 768px){
    
.text-menu{
    font-size: 7rem;
    margin-right: 3%;
    font-family: 'Quicksand', sans-serif;
}

.position{
    width: 50%;
    margin-left: 25%;
}
    
#position{
    width: 50%;
    margin-left: 25%;
    margin-top: 0;
}

#main section p{
    font-size: 1.8rem;
}

    .fa-brands{
        font-size: 2rem;
    }
}

@media (min-width: 1024px){
    
    #nav{
        justify-content: center;
    }

    .text-menu{
        font-size: 9rem;
        margin-right: 3%;
    }

    /*index*/

    #main section p{
        font-size: 2rem;
        line-height: 2.4rem;
    }

    #footer h3{
        font-size: 2.3rem;
        padding: .7%;
    }

    .fa-brands{
        font-size: 2.5rem;
    }

    #artistas{
        display: flex;
        margin-top: 40%;
    }

    #artistas h1{
        font-size: 2.8rem;
        justify-content: center;
        text-align: center;
        margin-top: 0%;
        width: 100%;

        /*text-transform: uppercase;
        font-size: 3rem;
        text-align: center;
        margin-bottom: 5%;
        padding: 1%;
        width: auto;
        display: inline-block;*/
    }
    
    .trayect{
        /*padding: 5% 0;
        margin-top: 5%;*/
        width: auto;
    }

    #artistas .trayect figure{
        margin: 1%;
        padding: 2%;
        text-transform: capitalize;
        font-size: 2.4rem;
        text-align: left;
    }
    
    #artistas .trayect figure img{
        margin-top: 40%;
        height: 300px; 
        width: 60%;
        border-radius: 5px;
    }
    
    #artistas .trayect figure figcaption{
        font-size: 3.2rem;
    }

    .xx{
        width: 49%;
    }

    #musica h1{
        font-size: 2.8rem;
    }

#musica .music{
        margin: 2%;
        width: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2%;
        grid-template-areas: 
        "musica1 musica2 musica3";
        }
        
        #musica1{
            grid-area: musica1;
        }
        
        #musica2{
            grid-area: musica2;
        }
        
        #musica3{
            grid-area: musica3;
        }
        
        #musica section div h3{
            font-size: 2.3rem;
            text-transform: capitalize;
        }
    
        #musica section div p{
            font-size: 1.9rem;
        }

        #novedades{
            margin: 0%;
            padding: 0% ;
            display: flex;
            justify-content: space-around;
        }

        #novedades{
            margin-top: 35%;
        }
    
        #novedades section{
            padding: 0;
            justify-content:space-between;
        }
        
        #novedades h2{
            margin: 1%;
            padding: 1%;
            font-size: 3.3rem;
            text-transform:capitalize;
        }
        
        
        .format-columns{
            font-family: 'Quicksand', sans-serif;
            font-size: 3.8rem;
            line-height: 4rem; 
            width: 30%;
        }
        
        
        #novedades section div img{
            width: 80%;
            margin: .5%;
            padding: 0%;
        }

        .contact-info{
            display: flex; 
        }

}
