@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

.fondo{
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    }
    
    *{
        margin: 0%;
        padding: 0%;
        font-size: 62.5%;
        font-family: 'Quicksand', sans-serif;
    }

    /*====================GRID=====================*/
    
    /*index*/
    
    .index-grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "nav"
        "header"
        "aside"
        "main"
        "footer";
    }
    
    #nav{
        grid-area: nav;
        justify-content: right;
    }
    
    #header{
        grid-area: header;
    }
    
    #aside{
        grid-area: aside;
        display: flex;
        justify-content: center;
    }
    
    #main{
        grid-area: main;
    }
    
    #footer{
        grid-area: footer;
    }
    

    /*contacto*/

    .contact-form form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20%;
        grid-template-areas: 
        "name last-name"
        "phone email"
        "mensaje mensaje"
        "button button";
    }
    
    #name{
        grid-area: name;
    }
    
    #last-name{
        grid-area: last-name;
    }
    
    #phone{
        grid-area: phone;
    }
    
    #email{
        grid-area: email;
    }
    
    #mensaje{
        grid-area: mensaje;
    }
    
    #button{
        grid-area: button;
    }


/*===================NAV=========================*/

/*index-artistas-musica-novedades-contacto*/


.text-menu{
    font-size: 5.2rem;
}

.ul-link{
    list-style: none;
}

nav div ul li{
    display: inline-block;
    padding: 0;
}

nav div ul li a{
    text-decoration: none;
    color: #d8d1a1;
}

nav div ul li a:hover{
    border-bottom: 1px solid #dbca5d;
    transition: backgraound-color 1.3s ease-out;
    outline: 0;
    color: white;
}

nav{
    display: flex;
    justify-content:space-around;
    font-family: 'Quicksand', sans-serif;
}

/*=================HEADER===================*/

/*index*/

.header{
    width: 50%;
    margin-left: 8%;
    margin-top: 10%;
    margin-bottom: 15%;
}

/*artistas*/

.header-flex{
    text-decoration: none;
    color: #d8d1a1;
    
}

.header-flex{
    position: absolute;
    width: 50%;
    margin-left: 9%;
    margin-top: 20%;
    margin-bottom: 15%;
}

div .img-element9{
    position: absolute;
    width: 40%;
    margin-left: 25%;
    margin-top: 1%;
    padding: 0;
}




/*===================ASIDE===================*/

/*index*/

aside img{
    width: 50%;
}


/*===================MAIN====================*/


#musica h1{
    text-transform: uppercase;
    font-size: 1.8rem;
    text-align: center;
    margin-top: 40%;
    margin-bottom: 4%;
    padding: 2%;
    background-color: black;
}

#novedades h2{
    margin-top: 2%;
    margin-bottom: 1%;
    padding: 1%;
    font-size: 1.8rem;
    text-transform: capitalize;
}

/*index*/

.Color-text{
    color:  #d8d1a1;    
}

h1{
    font-size: 1.5rem;
}

.section-p{
    margin: 2% 1% 2% 1%;
    text-align: center;
    font-size: 1rem;
}


/*artistas*/

.trayect{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}

#artistas h1{
    margin-top: 40%;
    text-align: center;
    background-color: black;
    padding: 1.5%;
    font-size: 1.8rem;
    text-transform: uppercase;
}

.trayect{
    padding: 2% 0;
    margin: 5% 0;
    display: flex;
    background-color: black;
    width: auto;
    }

.img-figure{
    width: 70%;
}

#artistas .trayect figure{
    margin: 20px;
    padding: 20px;
    text-transform: capitalize;
    font-size: 2.4rem;
    text-align: center;
}

#space-article{
    margin-top: 40%;
}

#artistas .trayect figure figcaption{
    font-size: 2.6rem;
}


/*musica*/

#musica .music{
    margin: 2% 20%;
    padding: 3% 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

#musica .music div{
    width: 100%;
    padding: 20% 0;
    margin: 3% 0;
    background-color: black;
}

#musica .music div img{
    width: 70%;
}

.animat-img1:hover {
    filter: saturate(200%);
}

.animat-img2:hover {
    filter: saturate(200%);
}

.animat-img3:hover {
    filter: saturate(200%);
}

#musica h3{
    font-size: 1.5rem;
}

.size-p{
    font-size: 1.2rem;
}


/*novedades*/

#novedades{
    margin-top: 40%;
    padding: 0% ;
    display: flex;
    flex-direction: column;
    text-align: center;
    }

#novedades section{
    margin: 4% 3%;
    padding: 4% 3%;
}

/*
#space-article{
    margin-top: 40%;
}*/

.format-columns{
    font-family: 'Quicksand', sans-serif;
    font-size: 3.5rem;
    line-height: 3rem; 
    width: 80%;
}


#novedades section div img{
    width: 80%;
    margin: 1%;
    padding: 0;
    border-radius: 3%;
}


/*contacto*/

#contacto{
    box-sizing: border-box;
    margin: 45% 15%;
    padding: 2%;
}

.content{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

.box{
    box-shadow: 0 0 20px 0 #d8d1a1;
}

.content form{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    text-transform: capitalize;
}
.contact-form{
    margin: 0;
    padding: 3em;
    background: rgb(31, 29, 29);
}

.contact-form form input,
.contact-form form button,
.contact-form form textarea{
    width: 100%;
    padding: .5em;
    border: none;
    background: none;
    outline: 0;
    color: #d8d1a1;
    border-bottom: 1px solid #dbca5d;
}

.contact-form form button{
    background-color: #dbca5d;
    color: black;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
    font-weight: bold;
    margin-top: 3.5em;
}

.contact-form form button:hover,
.contact-form form button:focus{
    background: #d8d1a1;
    transition: backgraound-color .7s ease-out;
    outline: 0;
}

.contact-info{
    background-color: black;
    width: auto; 
    text-align: center;
    padding: 0 0 1em 0;
}

.contact-info ul{
    list-style: none;
}

h5,
.content ul li{
    font-family: 'Quicksand', sans-serif;
    font-size: .8rem;
    text-transform: capitalize;
}

.fa-solid{
    font-size: .8rem;
    margin: .5em;
    text-transform: lowercase;
}

.contact-info{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1rem;
    padding: 5% 0;
    margin: 2%;
}

.space-p{
    margin-top: 5%;
    display: none;
}

.space{
    margin-top: 10%;
}


/*===================FOOTER==================*/

/*index-artistas-musica-novedades-contacto*/

h3{
    font-size: 1.2rem;
    text-align: center;
    margin-top: 3%;
}

.redes{
    display: flex;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    font-size: 600%;
    margin-top: 3%;
    color:#d8d1a1  
    
}

.fa-brands{
    font-size: 1rem;
    margin: .5em;
    color: #cfc05b;
    transition: all .4s ease-in-out;
    background-color: none;
}

#footer .fa-brands:hover{
    transform: scale(1.5);
}

footer ul{
    margin: 1%;
    padding: 1%;
}

h3,
footer{
    background-color: black;
    width: auto;
}



/*===================BREAKPOINTS==================*/

/*index-artistas-musica-novedades-contacto*/

@media (min-width: 768px){
    
    .text-menu{
        font-size: 7rem;
        margin-right: 3%;
        font-family: 'Quicksand', sans-serif;
    }

    .position{
        width: 50%;
        margin-left: 25%;
    }
    
    #position{
        width: 50%;
        margin-left: 25%;
        margin-top: 0;
    }

    #main section p{
        font-size: 1.8rem;
    }

    .fa-brands{
        font-size: 2rem;
    }


    
    
}

@media (min-width: 1024px){
    
    #nav{
        justify-content: center;
    }

    .text-menu{
        font-size: 9rem;
        margin-right: 3%;
    }

    /*index*/

    #header{
        width: 60%;
        margin-left: 38%;
        margin-top: 8%;
        justify-content: right;
        }
    
    #aside{
        width: 80%;
        display: flex;
        justify-content: left;
    }

    .index-grid{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "nav nav"
        "header aside"
        "main main"
        "footer footer";
    }

    #main section p{
        font-size: 1.8rem;
    }

    #footer h3{
        font-size: 2.3rem;
        padding: .7%;
    }

    .fa-brands{
        font-size: 2.5rem;
    }

    .position{
        width: 50%;
        margin-left: 25%;
    }

    #position{
        width: 50%;
        margin-left: 25%;
        margin-top: 0;
    }

    #artistas{
        display: flex;
        margin-top: 40%;
    }

    #artistas h1{
        text-transform: uppercase;
        font-size: 3rem;
        text-align: center;
        margin-bottom: 5%;
        padding: 1%;
        background-color: black;
        width: auto;
        display: inline-block;
    }
    
    .trayect{
        /*padding: 5% 0;
        margin-top: 5%;*/
        background-color: black;
        width: auto;
    }

    #artistas .trayect figure{
        margin: 1%;
        padding: 2%;
        text-transform: capitalize;
        font-size: 2.4rem;
        text-align: left;
    }
    
    #artistas .trayect figure img{
        height: 300px; 
        width: auto;
        border-radius: 5px;
    }
    
    #artistas .trayect figure figcaption{
        font-size: 3.2rem;
    }

    .xx{
        width: 49%;
    }

    #musica h1{
        font-size: 2.8rem;
    }

    #musica .music{
        margin: 2%;
        width: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2%;
        grid-template-areas: 
        "musica1 musica2 musica3";
        }
        
        #musica1{
            grid-area: musica1;
        }
        
        #musica2{
            grid-area: musica2;
        }
        
        #musica3{
            grid-area: musica3;
        }
        
        #musica section div h3{
            font-size: 2.3rem;
            text-transform: capitalize;
        }
    
        #musica section div p{
            font-size: 1.9rem;
        }

        #novedades{
            margin: 0%;
            padding: 0% ;
            display: flex;
            
        }

        #novedades{
            margin-top: 35%;
        }
    
        #novedades section{
            padding: 0;
            justify-content:space-between;
        }
        
        #novedades h2{
            margin: 1%;
            padding: 1%;
            font-size: 3.3rem;
            text-transform:capitalize;
        }
        
        
        .format-columns{
            font-family: 'Quicksand', sans-serif;
            font-size: 3.8rem;
            line-height: 4rem; 
            width: 30%;
        }
        
        
        #novedades section div img{
            width: 80%;
            margin: .5%;
            padding: 0%;
        }
        

}

