.i-h-a{
    margin: 0;
    padding: 0;
    width: 90%; 
    position: absolute;
    left: 50%;
    margin-left: -45%;
    margin-top: -10%;
    z-index: -2;
    }
#artistas{
    @mixin text ($size, $alineacion, $m-top, $bold, $color){
        font-size: $size;
        text-align: $alineacion;
        margin-top: $m-top;
        font-weight: $bold;
        color: $color;
        padding: 1.5%;
        text-transform: uppercase;
    }
    h1{
        @include text ($textSm, center, 31%, bold, $color3)
    }
    .trayect{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "figure1"
        "figure2";
        #figure1{
            grid-area: figure1;
            text-align: center;
            figcaption{
                font-size: $textSm;
                font-weight: $bold;
                text-transform: capitalize;
                margin-top: 3%;
            }
        }
        #figure2{
            grid-area: figure2;
            text-align: center;
            figcaption{
                font-size: $textSm;
                font-weight: $bold;
                text-transform: capitalize;
                margin-top: 3%;
            }
        }
        .img-figure{
            width: 85%;
            margin-top: 15%;
            border-radius: 3%;
        }
        .format-p{
            font-size: $textXs;
            line-height: $lineHeightSm;
            margin: 1% 6% 0 6%;
        }
    }
}
@media (min-width: 768px){
    .i-h-a{
        width: 60%;
        left: 60%;
        margin-left: -41%;
        margin-top: -2%;
        }
    #artistas{
        h1{
            font-size: $textMd;
            margin-top: 26%;
        }
        .trayect{
        #figure1 figcaption,
        #figure2 figcaption{
            font-size: $textMd;
            font-weight: $regular;
        }
        .format-p{
            font-size: $textSm;
            line-height: $lineHeightMd;
            margin: 3% 10% 0 10%;
        }
        .img-figure{
            width: 75%;
        }
    }
}
}
@media (min-width: 1024px){
    .i-h-a{
        width: 50%;
        left: 60%;
        margin-left: -36%;
        margin-top: -8%;
        }
    #artistas{
        h1{
            font-size: $textLg;
            margin-top: 15%;
        }
        .trayect{
            margin: 8%;
            padding: .5em;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            "figure1 figure2";
            column-gap: 10%;
            #figure1 figcaption,
            #figure2 figcaption{
            text-align: start;
            margin-left: 3%;
            }
            .img-figure{
                width: 100%;
                padding: 0;
                border-radius: 3% 3% 0 0;
                margin-top: 0;
            }
            .format-p{
                font-weight: $ligth;
                margin-top: 5%;
                margin-left: 3%;
                text-align: left;
            }
        }
        
    }
}
