.i-h-c{
    margin: 0;
    padding: 0;
    width: 80%; 
    position: absolute;
    margin-left: 15%;
    top: -2%;
    z-index: -2;
}
#contacto{
    h1{
        font-size: $textSm;
        font-weight: bold;
        color: $color3;
        margin-top: -4%;
        margin-bottom: 20%;
        padding: 1.5%;
        text-transform: uppercase;
    }
    box-sizing: border-box;
    margin: 35% 15%;
    padding: 2%;
    .box{
        box-shadow: 0 0 20px 0 $color1;
    }
    .content{
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 3.5em;
        form{
            font-size: $textSm;
            text-transform: capitalize;
        }
    }
    .contact-form{
        margin: 0%;
        background: $color4;
        form{
            .base{
                width: 100%;
                padding: .2em;
                border: none;
                background: none;
                outline: 0;
                color: $color1;
                border-bottom: 1px solid $color2;
            }
            textarea{
                @extend .base;
            }
            button{
                @extend .base;
                background-color: $color2;
                color: $bgBlack;
                border: 0;
                border-radius: 2%;
                text-transform: uppercase;
                padding: 1em;
                font-weight: bold;
                margin-top: 1em;
                &:hover,
                &:focus{
                    background: $color1;
                    transition: backgraound-color .7s ease-out;
                    outline: 0;
                }
            }
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 10%;
            grid-template-areas: 
            "name last-name"
            "phone email"
            "mensaje mensaje"
            "button button"
            "brand brand";
        }
        #name{
            grid-area: name;
        }
        #last-name{
            grid-area: last-name;
        }
        #phone{
            grid-area: phone;
        }
        #email{
            grid-area: email;
        }
        #mensaje{
            grid-area: mensaje;
        }
        #button{
            grid-area: button;
        }
        
    }
    .contact-info{
        width: auto; 
        text-align: center;
        font-size: $textXxs;
        margin: 1%;
        padding: 1%;
        display: none;
        ul{
            list-style: none;
        }
    }
    #brand p{
        background-color: $black;
        font-size: $textXs;
        font-weight: $ligth;
        display: flex;
        justify-content: center;
        height: 100%;
    }
}
@media (min-width: 768px){
    .i-h-c{
        width: 60%; 
        margin-left: 21%;
        top: -2%;
        z-index: -2;
    }
    #contacto{
        h1{
            font-size: $textMd;
            text-align: center;
            margin-top: -15%;
        }
        .contact-form form{
            font-size: $textLg;
            height: 60%;
            #button{
                font-size: $textXs;
            }
        }
        .contact-info{
            display: block;
            font-size: $textMd;
            .fa-solid{
                font-size: $textXs;
                font-weight: $ligth;
                line-height: $lineHeightSm;
                text-align: center;
                text-transform: capitalize;
                margin-right: 1em;
            }
        }
    #brand p{
        font-size: $textMd;
    }
    }
    
}
@media (min-width: 1024px){
    #box{
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
    #contacto{
        .contact-form{
            padding: 2rem;
            form{
                font-size: $textXl;
                input,
                textarea{
                    font-size: $textSm;
                    color: $White;
                }
            }
        }
        .contact-info{
            font-size: $textLg;
            font-weight: $ligth;
            line-height: $lineHeightMd;
            .fa-solid{
                margin-right: 1em;
            }
        }
        #brand{
            font-size: $textMd;
        }
    }
}