@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

//fonts
$font1: 'Quicksand', sans-serif;

//Sizing
$textXxs: .8rem;
$textXs: 1.2rem;
$textSm: 2rem;
$textMd: 2.2rem;
$textLg: 3.2rem;
$textXl: 4.2rem;

//lineHeight
$lineHeightXs: 1.2rem;
$lineHeightSm: 2.2rem;
$lineHeightMd: 2.8rem;

//weigth
$ligth: 300;
$regular: 400;
$bold: 600;