#footer{
    h3{
        font-size: $textXs;
        text-transform: uppercase;
        text-align: center;
        margin-top: 9%;
    }
    .redes{
        display: flex;
        justify-content: center;
        list-style: none;
        text-decoration: none;
        font-size: 600%;
        margin-top: 2%;
        color: $color1;
    }
    
    .fa-brands{
        font-size: $textSm;
        margin: .5em;
        color: $color3;
        transition: all .4s ease-in-out;
        background-color: none;
        &:hover{
            transform: scale(1.1);
        }
    }
}
@media (min-width: 768px){
    #footer{
        h3{
            margin-top: 15%;
        }
        .fa-brands{
            font-size: $textMd;
        }
    }
}


@media (min-width: 1024px){
    #footer{
        h3{
            font-size: $textSm;
        }
        .fa-brands{
            font-size: $textLg;
            margin-top: 0;
        }
    }
}