.carousel{
    height: 50vh;
    object-fit: cover;
    object-position: center;
}
@media (min-width: 768px){
    .carousel{
        height: 60vh;
        object-fit: cover;
        object-position: center;
    }
}
@media (min-width: 1024px){
    .carousel{
        height: 80vh;
        object-fit: cover;
        object-position: center;
    }
}